.component-container{
    display: flex;
    justify-content: space-around;
    margin-top:12%
}
.register-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding:2%;
}
.login-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding:2%;
}
.MuiInputBase-root{
    margin-bottom: 3%;
}